language: java

jdk:
  - openjdk14

sudo: false

script:
  - mvn test -B

env:
  global:
    - CODECOV_TOKEN="417af2c6-b63b-44e0-8c42-5787c7a909c5"

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонний сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - dvd9@yandex.ru
    on_success: never # default: change
    on_failure: always # default: always